# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

**/xcshareddata/*
!**/xcshareddata/swiftpm/
!**/xcshareddata/xcschemes/
**/xcshareddata/swiftpm/*
!**/xcshareddata/swiftpm/Package.resolved
!Package.resolved
!*.xcscheme

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

GoogleService-Info.plist
Mixin-Keys.plist
R.generated.swift
ApiKeys.plist

.agents/
.codegraph/
.gemini/
AGENTS.md
