<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<integer>376</integer>
	<key>AE</key>
	<integer>971</integer>
	<key>AF</key>
	<integer>93</integer>
	<key>AG</key>
	<integer>1</integer>
	<key>AI</key>
	<integer>1</integer>
	<key>AL</key>
	<integer>355</integer>
	<key>AM</key>
	<integer>374</integer>
	<key>AO</key>
	<integer>244</integer>
	<key>AR</key>
	<integer>54</integer>
	<key>AS</key>
	<integer>1</integer>
	<key>AT</key>
	<integer>43</integer>
	<key>AU</key>
	<integer>61</integer>
	<key>AW</key>
	<integer>297</integer>
	<key>AZ</key>
	<integer>994</integer>
	<key>BA</key>
	<integer>387</integer>
	<key>BB</key>
	<integer>1</integer>
	<key>BD</key>
	<integer>880</integer>
	<key>BE</key>
	<integer>32</integer>
	<key>BF</key>
	<integer>226</integer>
	<key>BG</key>
	<integer>359</integer>
	<key>BH</key>
	<integer>973</integer>
	<key>BI</key>
	<integer>257</integer>
	<key>BJ</key>
	<integer>229</integer>
	<key>BM</key>
	<integer>1</integer>
	<key>BN</key>
	<integer>673</integer>
	<key>BO</key>
	<integer>591</integer>
	<key>BQ</key>
	<integer>599</integer>
	<key>BR</key>
	<integer>55</integer>
	<key>BS</key>
	<integer>1</integer>
	<key>BT</key>
	<integer>975</integer>
	<key>BW</key>
	<integer>267</integer>
	<key>BY</key>
	<integer>375</integer>
	<key>BZ</key>
	<integer>501</integer>
	<key>CA</key>
	<integer>1</integer>
	<key>CD</key>
	<integer>243</integer>
	<key>CF</key>
	<integer>236</integer>
	<key>CG</key>
	<integer>242</integer>
	<key>CH</key>
	<integer>41</integer>
	<key>CI</key>
	<integer>225</integer>
	<key>CK</key>
	<integer>682</integer>
	<key>CL</key>
	<integer>56</integer>
	<key>CM</key>
	<integer>237</integer>
	<key>CN</key>
	<integer>86</integer>
	<key>CO</key>
	<integer>57</integer>
	<key>CR</key>
	<integer>506</integer>
	<key>CU</key>
	<integer>53</integer>
	<key>CV</key>
	<integer>238</integer>
	<key>CW</key>
	<integer>599</integer>
	<key>CY</key>
	<integer>357</integer>
	<key>CZ</key>
	<integer>420</integer>
	<key>DE</key>
	<integer>49</integer>
	<key>DJ</key>
	<integer>253</integer>
	<key>DK</key>
	<integer>45</integer>
	<key>DM</key>
	<integer>1</integer>
	<key>DO</key>
	<integer>1</integer>
	<key>DZ</key>
	<integer>213</integer>
	<key>EC</key>
	<integer>593</integer>
	<key>EE</key>
	<integer>372</integer>
	<key>EG</key>
	<integer>20</integer>
	<key>EH</key>
	<integer>212</integer>
	<key>ER</key>
	<integer>291</integer>
	<key>ES</key>
	<integer>34</integer>
	<key>ET</key>
	<integer>251</integer>
	<key>FI</key>
	<integer>358</integer>
	<key>FJ</key>
	<integer>679</integer>
	<key>FK</key>
	<integer>500</integer>
	<key>FM</key>
	<integer>691</integer>
	<key>FO</key>
	<integer>298</integer>
	<key>FR</key>
	<integer>33</integer>
	<key>GA</key>
	<integer>241</integer>
	<key>GB</key>
	<integer>44</integer>
	<key>GD</key>
	<integer>1</integer>
	<key>GE</key>
	<integer>995</integer>
	<key>GF</key>
	<integer>594</integer>
	<key>GG</key>
	<integer>44</integer>
	<key>GH</key>
	<integer>233</integer>
	<key>GI</key>
	<integer>350</integer>
	<key>GL</key>
	<integer>299</integer>
	<key>GM</key>
	<integer>220</integer>
	<key>GN</key>
	<integer>224</integer>
	<key>GP</key>
	<integer>590</integer>
	<key>GQ</key>
	<integer>240</integer>
	<key>GR</key>
	<integer>30</integer>
	<key>GT</key>
	<integer>502</integer>
	<key>GU</key>
	<integer>1</integer>
	<key>GW</key>
	<integer>245</integer>
	<key>GY</key>
	<integer>592</integer>
	<key>HK</key>
	<integer>852</integer>
	<key>HN</key>
	<integer>504</integer>
	<key>HR</key>
	<integer>385</integer>
	<key>HT</key>
	<integer>509</integer>
	<key>HU</key>
	<integer>36</integer>
	<key>ID</key>
	<integer>62</integer>
	<key>IE</key>
	<integer>353</integer>
	<key>IL</key>
	<integer>972</integer>
	<key>IM</key>
	<integer>44</integer>
	<key>IN</key>
	<integer>91</integer>
	<key>IO</key>
	<integer>246</integer>
	<key>IQ</key>
	<integer>964</integer>
	<key>IR</key>
	<integer>98</integer>
	<key>IS</key>
	<integer>354</integer>
	<key>IT</key>
	<integer>39</integer>
	<key>JE</key>
	<integer>44</integer>
	<key>JM</key>
	<integer>1</integer>
	<key>JO</key>
	<integer>962</integer>
	<key>JP</key>
	<integer>81</integer>
	<key>KE</key>
	<integer>254</integer>
	<key>KG</key>
	<integer>996</integer>
	<key>KH</key>
	<integer>855</integer>
	<key>KI</key>
	<integer>686</integer>
	<key>KM</key>
	<integer>269</integer>
	<key>KN</key>
	<integer>1</integer>
	<key>KP</key>
	<integer>850</integer>
	<key>KR</key>
	<integer>82</integer>
	<key>KW</key>
	<integer>965</integer>
	<key>KY</key>
	<integer>1</integer>
	<key>KZ</key>
	<integer>7</integer>
	<key>LA</key>
	<integer>856</integer>
	<key>LB</key>
	<integer>961</integer>
	<key>LC</key>
	<integer>1</integer>
	<key>LI</key>
	<integer>423</integer>
	<key>LK</key>
	<integer>94</integer>
	<key>LR</key>
	<integer>231</integer>
	<key>LS</key>
	<integer>266</integer>
	<key>LT</key>
	<integer>370</integer>
	<key>LU</key>
	<integer>352</integer>
	<key>LV</key>
	<integer>371</integer>
	<key>LY</key>
	<integer>218</integer>
	<key>MA</key>
	<integer>212</integer>
	<key>MC</key>
	<integer>377</integer>
	<key>MD</key>
	<integer>373</integer>
	<key>ME</key>
	<integer>382</integer>
	<key>MG</key>
	<integer>261</integer>
	<key>MH</key>
	<integer>692</integer>
	<key>MK</key>
	<integer>389</integer>
	<key>ML</key>
	<integer>223</integer>
	<key>MM</key>
	<integer>95</integer>
	<key>MN</key>
	<integer>976</integer>
	<key>MO</key>
	<integer>853</integer>
	<key>MP</key>
	<integer>1</integer>
	<key>MQ</key>
	<integer>596</integer>
	<key>MR</key>
	<integer>222</integer>
	<key>MS</key>
	<integer>1</integer>
	<key>MT</key>
	<integer>356</integer>
	<key>MU</key>
	<integer>230</integer>
	<key>MV</key>
	<integer>960</integer>
	<key>MW</key>
	<integer>265</integer>
	<key>MX</key>
	<integer>52</integer>
	<key>MY</key>
	<integer>60</integer>
	<key>MZ</key>
	<integer>258</integer>
	<key>NA</key>
	<integer>264</integer>
	<key>NC</key>
	<integer>687</integer>
	<key>NE</key>
	<integer>227</integer>
	<key>NF</key>
	<integer>672</integer>
	<key>NG</key>
	<integer>234</integer>
	<key>NI</key>
	<integer>505</integer>
	<key>NL</key>
	<integer>31</integer>
	<key>NO</key>
	<integer>47</integer>
	<key>NP</key>
	<integer>977</integer>
	<key>NR</key>
	<integer>674</integer>
	<key>NU</key>
	<integer>683</integer>
	<key>NZ</key>
	<integer>64</integer>
	<key>OM</key>
	<integer>968</integer>
	<key>PA</key>
	<integer>507</integer>
	<key>PE</key>
	<integer>51</integer>
	<key>PF</key>
	<integer>689</integer>
	<key>PG</key>
	<integer>675</integer>
	<key>PH</key>
	<integer>63</integer>
	<key>PK</key>
	<integer>92</integer>
	<key>PL</key>
	<integer>48</integer>
	<key>PM</key>
	<integer>508</integer>
	<key>PR</key>
	<integer>1</integer>
	<key>PS</key>
	<integer>970</integer>
	<key>PT</key>
	<integer>351</integer>
	<key>PW</key>
	<integer>680</integer>
	<key>PY</key>
	<integer>595</integer>
	<key>QA</key>
	<integer>974</integer>
	<key>RE</key>
	<integer>262</integer>
	<key>RO</key>
	<integer>40</integer>
	<key>RS</key>
	<integer>381</integer>
	<key>RU</key>
	<integer>7</integer>
	<key>RW</key>
	<integer>250</integer>
	<key>SA</key>
	<integer>966</integer>
	<key>SB</key>
	<integer>677</integer>
	<key>SC</key>
	<integer>248</integer>
	<key>SD</key>
	<integer>249</integer>
	<key>SE</key>
	<integer>46</integer>
	<key>SG</key>
	<integer>65</integer>
	<key>SH</key>
	<integer>290</integer>
	<key>SI</key>
	<integer>386</integer>
	<key>SK</key>
	<integer>421</integer>
	<key>SL</key>
	<integer>232</integer>
	<key>SM</key>
	<integer>378</integer>
	<key>SN</key>
	<integer>221</integer>
	<key>SO</key>
	<integer>252</integer>
	<key>SR</key>
	<integer>597</integer>
	<key>SS</key>
	<integer>211</integer>
	<key>ST</key>
	<integer>239</integer>
	<key>SV</key>
	<integer>503</integer>
	<key>SX</key>
	<integer>1</integer>
	<key>SY</key>
	<integer>963</integer>
	<key>SZ</key>
	<integer>268</integer>
	<key>TC</key>
	<integer>1</integer>
	<key>TD</key>
	<integer>235</integer>
	<key>TG</key>
	<integer>228</integer>
	<key>TH</key>
	<integer>66</integer>
	<key>TJ</key>
	<integer>992</integer>
	<key>TK</key>
	<integer>690</integer>
	<key>TL</key>
	<integer>670</integer>
	<key>TM</key>
	<integer>993</integer>
	<key>TN</key>
	<integer>216</integer>
	<key>TO</key>
	<integer>676</integer>
	<key>TR</key>
	<integer>90</integer>
	<key>TT</key>
	<integer>1</integer>
	<key>TV</key>
	<integer>688</integer>
	<key>TW</key>
	<integer>886</integer>
	<key>TZ</key>
	<integer>255</integer>
	<key>UA</key>
	<integer>380</integer>
	<key>UG</key>
	<integer>256</integer>
	<key>US</key>
	<integer>1</integer>
	<key>UY</key>
	<integer>598</integer>
	<key>UZ</key>
	<integer>998</integer>
	<key>VC</key>
	<integer>1</integer>
	<key>VE</key>
	<integer>58</integer>
	<key>VG</key>
	<integer>1</integer>
	<key>VI</key>
	<integer>1</integer>
	<key>VN</key>
	<integer>84</integer>
	<key>VU</key>
	<integer>678</integer>
	<key>WF</key>
	<integer>681</integer>
	<key>WS</key>
	<integer>685</integer>
	<key>YE</key>
	<integer>967</integer>
	<key>YT</key>
	<integer>262</integer>
	<key>ZA</key>
	<integer>27</integer>
	<key>ZM</key>
	<integer>260</integer>
	<key>ZW</key>
	<integer>263</integer>
</dict>
</plist>
