<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug_mode</key>
	<false/>
	<key>disable_skadnetwork</key>
	<false/>
	<key>disable_idfv_collection</key>
	<false/>
	<key>disable_idfa_collection</key>
	<true/>
</dict>
</plist>
